.container {
    text-align: center;
    padding: 20px;
    background-color: #e8f4f8;
    color: black;
    margin: 20px auto;
    border-radius: 25px;
    border: 2px solid #055099;
}

.category-btn {
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 8px 16px;
    font-size: 1rem;
    border: 2px solid #055099;
    transition: background-color 0.3s ease;
    background-color: #e8f4f8;
    color: black;
    font-family: serif;
}

.category-btn:hover {
    background-color: #055099;
    color: black;
}

.rounded-btns {
    border-radius: 20px;
}


#Food svg,
#Dairy svg,
#Others svg {
    fill: #055099;
}